
<%= stylesheet_link_tag "application" %>
 <div class="wrapper">

<% if @edibles.exists? %>
    <h3>Here are the list of food in our database:</h3>
    <% @edibles.each do |edible| %>
    <br>
        <%=link_to edible.name, edible_location_path(edible) %>

    <br>
    </ul>
          <% end %>
  <% else %>
    <h4> There are no food types in the database. 
    Please log in or sign in and create a location using the menu above!</h4>

  <% end %>
</div>