<%= stylesheet_link_tag "application" %>
 <div class="wrapper">
	
<h3>Please sign up here:</h3>
<br>
<%= form_for @user do |f| %>
	<%= render 'form', f: f %>
	<br>
<%= f.submit "Submit" %>

<% end %></p>
</div>

