<%= stylesheet_link_tag "application" %>
<div class="wrapper">
	
	<h2>Edit an existing location:</h2>

	<%#= render 'form' %>

	<%= render partial: 'form', locals: {location: @location, user: @location.user, edible: @location.location_edibles} %>