 
<%= stylesheet_link_tag "application" %>
<div class="wrapper">

  <h2>Welcome to 'Glean Me'!</h2>
    
      <center>
        <p>This site was created as part of the effort to reduce hunger. 

        Gleaning aims at collecting free food on public or private properties (with permission) or from supermarkets at the end of the day that would otherwise be thrown away. 
      <br>We can share the resources and distribute them to those who need them.
      </p>

      If you have not done so, please log in ro sign up using the menu on the top left.	
</center>

  
  
</center>

<br>

 </div>
