<%= stylesheet_link_tag "application" %>
<div class="wrapper">
	
	<h2>Fill out this form to add a new location:</h2>

	<%= render 'locations/form', location: @location %>


	If you need to add a new food category, please add it here first:
<br>
  <label> Name of new food category: </label>
  <input type="text" name="location[edible]"> <br>
  <input type="submit" value="Add location">
</form>


</div>

