<% if current_user %>

Welcome <%= current_user.username %> |
	
		<%= link_to "My Locations", user_locations_path(current_user) %> |


		<%= link_to "Create a Location", new_user_location_path(current_user) %>
		

<% end %>

<div><center>
	<% if flash.now[:notice] %>
<%= flash.now[:notice] %>
<% end %>
</div>
