<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <title>GleanMeSinatraApp</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  
</head>
<body>

<nav>
	<%= render partial: "layouts/form_errors" %>

    <%= render 'layouts/navigation' %>

    <%= render 'layouts/header' %>
 
    
</nav>
	
    <%= yield %>


 </body>
  
  
  </html>